.subtitle {
  animation: hide-subtitle 400ms ease-in-out 6s forwards;
}

@keyframes hide-subtitle {
  from {
    height: 16px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@media (prefers-reduced-motion: reduce) {
  .subtitle {
    animation-duration: 1ms;
  }
}
